body {
    background-color: black;
    color: white;
}

#hdr {
    background-image: linear-gradient(white,lightseagreen);
    padding: 5px;
}

#main_logo {
    height: 65px;
}

#main_ttl {
    font-size: 40px;
    white-space: nowrap;
    top: 15px;
    color: crimson;
    font-family: 'Alfa Slab One';
    text-align: center;
}

#main_desc {
    font-size: 25px;
    top: 45px;
    font-weight: bold;
    font-style: oblique;
    color: blue;
    text-align: center;
}

.nav>li>a {
    padding: 10px 10px;
}

.nav {
    background-color: white;
    font-size: 12px;
    position: sticky;
    top: 0;
    z-index: 2;
    font-weight: bold;
    border-radius: 0 0 10px 10px;
    border: 5px solid lightseagreen;
}

.proj_grp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.proj_grp_head {
    background-color: royalblue;
    font-size: 25px;
    font-weight: bold;
    padding-left: 20px;
    margin: 10px 0;
    position: sticky;
    top: 50px;
    z-index: 1;
    border-radius: 10px;
}

.proj_div {
    margin: 10px;
    padding: 10px;
    width: 250px;
    background-color: darkmagenta;
    border-radius: 10%;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    box-shadow: 6px 5px 2px floralwhite;
    border: 1px solid floralwhite;
}

.proj_div_title {
    font-size: 20px;
    font-weight: bold;
}

.proj_div a {
    font-weight: bold;
}

.proj_div_desc {
    font-style: oblique;
    color: greenyellow;
}

.proj_div_tech ul {
    padding-left: 30px;
    margin-bottom: 30px;
}

.proj_div_tech_tag {
    text-decoration: underline;
}

.proj_div_git {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#msg_tbl {
    width: fit-content;
}

#msg_tbl input {
    margin: 5px;
    color: black;
}

#msg_area {
    width: 300px;
    height: 100px;
    border: 2px solid green;
    color: black;
    margin: 5px auto;
    border-radius: 10px;
}

#msg_send {
    float: right
}

#msg_send, .whats_btn {
    background-color: green;
    border: 1px solid white;
    font-weight: bold;
}

.whats_btn {
    border-radius: 0 10px 10px 0;
}

.whats_btn, .call_btn{
    width:35px;
}

.call_btn {
    background-color: darkorange;
    border: 1px solid white;
    font-weight: bold;
    border-radius: 10px 0 0 10px;
}

#msg_tag {
    margin: 25px 0 10px 0;
    text-align: center;
    font-size: 20px;
    color: greenyellow;
    font-weight: bold;
    font-style: oblique;
}

#msg_resp {
    margin: 10px;
    font-style: oblique;
}

#msg_span {
    margin: auto;
    display: block;
    width: fit-content;
}

.dev-tech-head {
    text-align: center;
    font-weight: bold;
    padding: 15px;
    color: red
}

#resume_personal_table, #resume_education_table {
    font-size: 20px;
    border: 2px solid greenyellow;
    border-radius: 20px;
}

.resume_table_detail {
    text-align: right;
    font-weight: bold;
}

.resume_header {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.resume_skill_header {
    font-size: 30px;
    font-weight: bold;
    color: lightgreen;
}

.resume_skill_detail {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    margin-left: 10px;
    justify-content: center;
}

#resume_personal_table tr:nth-child(even) {
    background-color: darkslategray;
}

#resume_personal_table tr:nth-child(odd) {
    background-color: purple;
}

#resume_education_table, #resume_personal_table {
    display: block;
    max-width: max-content;
    overflow: auto;
    margin: auto;
}

#resume_education_table tr:nth-child(even) {
    background-color: indianred;
}

#resume_education_table tr:nth-child(3) {
    background-color: mediumpurple;
}

.prog-icon {
    height: 50px;
    display: block;
    margin: auto;
}
#projects{
    background-image: linear-gradient(90deg,black,rgb(0,150,0) 50%, black);
}

#resume{
    background-image: linear-gradient(90deg,black,indigo 50%, black);
}

#contact{
    background-image: linear-gradient(90deg,black,darkred 50%, black);
    min-height: 80vh;
}

